In [3]:
import numpy as np
import pandas as pd

In [7]:
data=np.loadtxt('training_ccpp_x_y_train.csv',delimiter=',')
data_test=np.loadtxt('test_ccpp_x_test.csv',delimiter=',')

x=data[:,0:4]
y=data[:,4]
data_test.shape

(2392, 4)

In [17]:
df=pd.DataFrame(x)
df.head()

       0      1        2      3
0   8.58  38.38  1021.03  84.37
1  21.79  58.20  1017.21  66.74
2  16.64  48.92  1011.55  78.76
3  31.38  71.32  1009.17  60.42
4   9.20  40.03  1017.05  92.46

In [19]:
dff=pd.DataFrame(data_test)
df.head()

       a      b        c      d
0   8.58  38.38  1021.03  84.37
1  21.79  58.20  1017.21  66.74
2  16.64  48.92  1011.55  78.76
3  31.38  71.32  1009.17  60.42
4   9.20  40.03  1017.05  92.46

In [20]:
df.head()

       a      b        c      d
0   8.58  38.38  1021.03  84.37
1  21.79  58.20  1017.21  66.74
2  16.64  48.92  1011.55  78.76
3  31.38  71.32  1009.17  60.42
4   9.20  40.03  1017.05  92.46

In [21]:
df.columns=['a','b','c','d']
df.head()

       a      b        c      d
0   8.58  38.38  1021.03  84.37
1  21.79  58.20  1017.21  66.74
2  16.64  48.92  1011.55  78.76
3  31.38  71.32  1009.17  60.42
4   9.20  40.03  1017.05  92.46

In [23]:
df.a

0        8.58
1       21.79
2       16.64
3       31.38
4        9.20
5       26.82
6        9.48
7        9.41
8       31.03
9       18.24
10      19.96
11      14.43
12      14.38
13       5.23
14      14.43
15      29.81
16      17.79
17      22.95
18      18.94
19      28.01
20      28.08
21      13.57
22      11.36
23      25.99
24      15.19
25      23.94
26      28.56
27      22.71
28       6.30
29      11.19
        ...
7146    29.63
7147    22.91
7148    10.60
7149    18.18
7150    21.73
7151    26.13
7152    14.51
7153    26.17
7154    26.75
7155    12.61
7156    10.20
7157    21.11
7158    25.03
7159    27.57
7160    27.98
7161    10.31
7162    26.38
7163    11.71
7164     9.64
7165    28.62
7166    27.94
7167    33.60
7168    22.84
7169    10.59
7170    28.07
7171     9.32
7172    11.20
7173    29.80
7174    16.37
7175    30.11
Name: a, Length: 7176, dtype: float64

In [22]:
df['a_a']=df.a*df.a
df.head()

       a      b        c      d       a_a
0   8.58  38.38  1021.03  84.37   73.6164
1  21.79  58.20  1017.21  66.74  474.8041
2  16.64  48.92  1011.55  78.76  276.8896
3  31.38  71.32  1009.17  60.42  984.7044
4   9.20  40.03  1017.05  92.46   84.6400

In [171]:
array=['a','b','c','d']

In [172]:
for i in range(4):
    for j in range(4):
        if i==j:
            df[array[i]+array[j]]=df[i]*df[j]
            dff[array[i]+array[j]]=dff[i]*dff[j]
dff.shape

(2392, 8)

In [173]:
df.shape

(7176, 8)

In [174]:
x=df.values
data_test=dff.values

In [175]:
from sklearn import preprocessing
sc=preprocessing.StandardScaler()
x=sc.fit(x).transform(x)
data_test=sc.transform(data_test)

In [176]:
dff=pd.DataFrame(x)
dff.head()

,0,1,2,3,4,5,6,7
0,-1.478275,-1.247642,1.302211,0.758625,-1.261577,-1.150811,1.303164,0.741910
1,0.289012,0.306798,0.661749,-0.446922,0.115342,0.195083,0.659541,-0.545638
2,-0.399976,-0.421013,-0.287207,0.375011,-0.563922,-0.503855,-0.289664,0.299612
3,1.572001,1.335770,-0.686238,-0.879086,1.865376,1.389870,-0.687218,-0.934044
4,-1.395329,-1.118236,0.634923,1.311822,-1.223743,-1.059846,0.632635,1.433300

In [177]:
a=np.ones(len(data)).reshape(-1,1)
x=np.append(x,a,axis=1)
x.shape

(7176, 9)

In [178]:
data_test.shape

(2392, 8)

In [179]:
b=np.ones(len(data_test)).reshape(-1,1)
data_test=np.append(data_test,b,axis=1)
data_test.shape

(2392, 9)

In [180]:
def cost(points,m):
    total_cost=0
    M=len(points)
    for i in range(M):
        total_cost+=(1/M)*((y[i]-np.dot(m,x[i]))**2)
    return total_cost

In [182]:
def step_gradient(points,learning_rate,m):
    m_slope=np.zeros(9)
    M=len(points)
    new_m=np.zeros(9)
    for i in range(M):
        m_slope +=np.dot(x[i],(y[i]-np.dot(m,x[i])))*(-2/M)
    for j in range(9):
        new_m[j]=m[j]-learning_rate*m_slope[j]
    return new_m

In [183]:
def gd(points,learning_rate,num_iteration):
        m=np.zeros(9)
        for i in range(num_iteration):
                m=step_gradient(points,learning_rate,m)
                print(i,'cost:',cost(points,m))
        return m

In [195]:
def run():
    num_iteration=500
    learning_rate=0.2
    y_pred=np.zeros(len(data_test))
    m=gd(x,learning_rate,num_iteration)
   
    y_pred=predict(m,data_test,y_pred)
    np.savetxt('C:\\Users\\guru1_000\\Desktop\\ml\\multivariable and gradient regression 2\\y_pred_project22',y_pred,delimiter=",",fmt='%.5f')
    print(m)
    print(y_pred.shape)

In [184]:
def predict(m,data_test,y_pred):
    
    for i in range(len(data_test)):
            y_pred[i]=np.dot(m,data_test[i])
           
    return y_pred

In [196]:
run()

0 cost: 74600.3774151
1 cost: 26995.5481401
2 cost: 9845.87892407
3 cost: 3661.14140116
4 cost: 1424.82198299
5 cost: 610.887967266
6 cost: 309.877037976
7 cost: 194.298204566
8 cost: 146.17772512
9 cost: 122.975528107
10 cost: 109.314567974
11 cost: 99.6027510784
12 cost: 91.7762083981
13 cost: 85.0463035686
14 cost: 79.088040728
15 cost: 73.7474286479
16 cost: 68.9357168699
17 cost: 64.5909487041
18 cost: 60.6637867431
19 cost: 57.1121108602
20 cost: 53.8988050432
21 cost: 50.990719702
22 cost: 48.3580817476
23 cost: 45.9740878917
24 cost: 43.8145836295
25 cost: 41.8577907416
26 cost: 40.0840681044
27 cost: 38.4756986984
28 cost: 37.0166987933
29 cost: 35.6926465558
30 cost: 34.4905279188
31 cost: 33.398597889
32 cost: 32.4062556981
33 cost: 31.5039323859
34 cost: 30.6829895529
35 cost: 29.9356281548
36 cost: 29.2548063266
37 cost: 28.6341653301
38 cost: 28.0679628099
39 cost: 27.5510126275
40 cost: 27.0786306165
41 cost: 26.6465856702
42 cost: 26.2510556306
43 cost: 25.8885875029
44 cost: 25.5560615667
45 cost: 25.2506589994
46 cost: 24.9698326632
47 cost: 24.7112807461
48 cost: 24.472922974
49 cost: 24.2528791423
50 cost: 24.0494497383
51 cost: 23.8610984496
52 cost: 23.6864363747
53 cost: 23.5242077673
54 cost: 23.373277166
55 cost: 23.2326177731
56 cost: 23.1013009612
57 cost: 22.9784867968
58 cost: 22.8634154833
59 cost: 22.7553996317
60 cost: 22.6538172807
61 cost: 22.5581055917
62 cost: 22.4677551543
63 cost: 22.3823048419
64 cost: 22.301337165
65 cost: 22.2244740733
66 cost: 22.1513731633
67 cost: 22.0817242525
68 cost: 22.0152462836
69 cost: 21.9516845279
70 cost: 21.8908080586
71 cost: 21.8324074677
72 cost: 21.7762928026
73 cost: 21.7222917021
74 cost: 21.6702477121
75 cost: 21.6200187633
76 cost: 21.5714757952
77 cost: 21.5245015134
78 cost: 21.478989266
79 cost: 21.4348420283
80 cost: 21.3919714849
81 cost: 21.3502972007
82 cost: 21.309745871
83 cost: 21.2702506441
84 cost: 21.2317505089
85 cost: 21.1941897413
86 cost: 21.1575174038
87 cost: 21.1216868932
88 cost: 21.0866555315
89 cost: 21.0523841968
90 cost: 21.0188369884
91 cost: 20.9859809252
92 cost: 20.9537856721
93 cost: 20.9222232935
94 cost: 20.8912680295
95 cost: 20.8608960942
96 cost: 20.831085493
97 cost: 20.8018158573
98 cost: 20.7730682956
99 cost: 20.7448252577
100 cost: 20.7170704131
101 cost: 20.6897885402
102 cost: 20.6629654261
103 cost: 20.6365877767
104 cost: 20.6106431339
105 cost: 20.5851198025
106 cost: 20.5600067825
107 cost: 20.5352937085
108 cost: 20.510970795
109 cost: 20.4870287864
110 cost: 20.4634589119
111 cost: 20.4402528451
112 cost: 20.4174026664
113 cost: 20.3949008301
114 cost: 20.3727401337
115 cost: 20.3509136904
116 cost: 20.3294149045
117 cost: 20.3082374482
118 cost: 20.2873752415
119 cost: 20.2668224335
120 cost: 20.2465733854
121 cost: 20.226622655
122 cost: 20.2069649832
123 cost: 20.1875952808
124 cost: 20.1685086173
125 cost: 20.1497002102
126 cost: 20.1311654157
127 cost: 20.1128997197
128 cost: 20.0948987301
129 cost: 20.0771581693
130 cost: 20.0596738679
131 cost: 20.0424417585
132 cost: 20.0254578701
133 cost: 20.0087183235
134 cost: 19.9922193259
135 cost: 19.9759571673
136 cost: 19.9599282165
137 cost: 19.9441289173
138 cost: 19.9285557854
139 cost: 19.9132054053
140 cost: 19.8980744275
141 cost: 19.883159566
142 cost: 19.8684575959
143 cost: 19.8539653511
144 cost: 19.8396797222
145 cost: 19.8255976548
146 cost: 19.8117161477
147 cost: 19.798032251
148 cost: 19.7845430648
149 cost: 19.7712457377
150 cost: 19.7581374654
151 cost: 19.7452154894
152 cost: 19.7324770961
153 cost: 19.7199196152
154 cost: 19.7075404188
155 cost: 19.6953369207
156 cost: 19.6833065752
157 cost: 19.6714468759
158 cost: 19.6597553555
159 cost: 19.6482295844
160 cost: 19.6368671703
161 cost: 19.6256657571
162 cost: 19.6146230244
163 cost: 19.603736687
164 cost: 19.5930044938
165 cost: 19.5824242273
166 cost: 19.5719937033
167 cost: 19.56171077
168 cost: 19.5515733073
169 cost: 19.5415792268
170 cost: 19.5317264706
171 cost: 19.5220130112
172 cost: 19.5124368509
173 cost: 19.5029960212
174 cost: 19.4936885825
175 cost: 19.4845126234
176 cost: 19.4754662606
177 cost: 19.4665476381
178 cost: 19.4577549268
179 cost: 19.4490863245
180 cost: 19.4405400548
181 cost: 19.4321143673
182 cost: 19.423807537
183 cost: 19.4156178637
184 cost: 19.4075436718
185 cost: 19.3995833102
186 cost: 19.3917351514
187 cost: 19.3839975915
188 cost: 19.3763690497
189 cost: 19.368847968
190 cost: 19.361432811
191 cost: 19.3541220653
192 cost: 19.3469142393
193 cost: 19.339807863
194 cost: 19.3328014874
195 cost: 19.3258936845
196 cost: 19.3190830468
197 cost: 19.312368187
198 cost: 19.3057477379
199 cost: 19.2992203517
200 cost: 19.2927847003
201 cost: 19.2864394743
202 cost: 19.2801833836
203 cost: 19.2740151562
204 cost: 19.2679335386
205 cost: 19.2619372952
206 cost: 19.2560252082
207 cost: 19.2501960774
208 cost: 19.2444487196
209 cost: 19.2387819687
210 cost: 19.2331946754
211 cost: 19.2276857068
212 cost: 19.2222539463
213 cost: 19.2168982934
214 cost: 19.2116176632
215 cost: 19.2064109864
216 cost: 19.2012772094
217 cost: 19.1962152931
218 cost: 19.1912242139
219 cost: 19.1863029625
220 cost: 19.1814505443
221 cost: 19.1766659787
222 cost: 19.1719482994
223 cost: 19.167296554
224 cost: 19.1627098034
225 cost: 19.1581871224
226 cost: 19.1537275988
227 cost: 19.1493303335
228 cost: 19.1449944404
229 cost: 19.1407190461
230 cost: 19.1365032895
231 cost: 19.1323463221
232 cost: 19.1282473075
233 cost: 19.1242054212
234 cost: 19.1202198506
235 cost: 19.1162897946
236 cost: 19.1124144639
237 cost: 19.1085930801
238 cost: 19.1048248763
239 cost: 19.1011090964
240 cost: 19.0974449951
241 cost: 19.093831838
242 cost: 19.090268901
243 cost: 19.0867554705
244 cost: 19.083290843
245 cost: 19.0798743252
246 cost: 19.0765052337
247 cost: 19.0731828949
248 cost: 19.0699066447
249 cost: 19.0666758288
250 cost: 19.0634898019
251 cost: 19.0603479283
252 cost: 19.0572495812
253 cost: 19.0541941429
254 cost: 19.0511810043
255 cost: 19.0482095653
256 cost: 19.0452792342
257 cost: 19.0423894279
258 cost: 19.0395395716
259 cost: 19.0367290988
260 cost: 19.0339574508
261 cost: 19.0312240774
262 cost: 19.0285284359
263 cost: 19.0258699914
264 cost: 19.0232482168
265 cost: 19.0206625924
266 cost: 19.0181126061
267 cost: 19.0155977531
268 cost: 19.0131175355
269 cost: 19.010671463
270 cost: 19.0082590521
271 cost: 19.0058798261
272 cost: 19.0035333152
273 cost: 19.0012190565
274 cost: 18.9989365935
275 cost: 18.9966854763
276 cost: 18.9944652614
277 cost: 18.9922755118
278 cost: 18.9901157965
279 cost: 18.9879856908
280 cost: 18.9858847762
281 cost: 18.9838126399
282 cost: 18.9817688752
283 cost: 18.9797530812
284 cost: 18.9777648626
285 cost: 18.9758038299
286 cost: 18.9738695992
287 cost: 18.9719617918
288 cost: 18.9700800348
289 cost: 18.9682239604
290 cost: 18.966393206
291 cost: 18.9645874144
292 cost: 18.9628062332
293 cost: 18.9610493154
294 cost: 18.9593163187
295 cost: 18.9576069058
296 cost: 18.9559207441
297 cost: 18.954257506
298 cost: 18.9526168681
299 cost: 18.9509985123
300 cost: 18.9494021244
301 cost: 18.947827395
302 cost: 18.9462740191
303 cost: 18.9447416961
304 cost: 18.9432301296
305 cost: 18.9417390274
306 cost: 18.9402681015
307 cost: 18.9388170681
308 cost: 18.9373856473
309 cost: 18.9359735634
310 cost: 18.9345805444
311 cost: 18.9332063223
312 cost: 18.931850633
313 cost: 18.930513216
314 cost: 18.9291938147
315 cost: 18.9278921759
316 cost: 18.9266080503
317 cost: 18.9253411919
318 cost: 18.9240913585
319 cost: 18.9228583111
320 cost: 18.9216418142
321 cost: 18.9204416356
322 cost: 18.9192575466
323 cost: 18.9180893214
324 cost: 18.9169367379
325 cost: 18.9157995767
326 cost: 18.9146776219
327 cost: 18.9135706603
328 cost: 18.9124784821
329 cost: 18.9114008804
330 cost: 18.910337651
331 cost: 18.9092885929
332 cost: 18.9082535078
333 cost: 18.9072322003
334 cost: 18.9062244777
335 cost: 18.9052301503
336 cost: 18.9042490307
337 cost: 18.9032809344
338 cost: 18.9023256796
339 cost: 18.9013830869
340 cost: 18.9004529796
341 cost: 18.8995351834
342 cost: 18.8986295266
343 cost: 18.8977358397
344 cost: 18.896853956
345 cost: 18.8959837109
346 cost: 18.8951249421
347 cost: 18.8942774898

348 cost: 18.8934411963
349 cost: 18.8926159064
350 cost: 18.8918014667
351 cost: 18.8909977263
352 cost: 18.8902045364
353 cost: 18.8894217503
354 cost: 18.8886492232
355 cost: 18.8878868126
356 cost: 18.8871343779
357 cost: 18.8863917806
358 cost: 18.885658884
359 cost: 18.8849355535
360 cost: 18.8842216564
361 cost: 18.8835170618
362 cost: 18.8828216406
363 cost: 18.8821352657
364 cost: 18.8814578117
365 cost: 18.880789155
366 cost: 18.8801291739
367 cost: 18.8794777481
368 cost: 18.8788347593
369 cost: 18.8782000907
370 cost: 18.8775736274
371 cost: 18.8769552557
372 cost: 18.876344864
373 cost: 18.8757423419
374 cost: 18.8751475807
375 cost: 18.8745604735
376 cost: 18.8739809144
377 cost: 18.8734087994
378 cost: 18.8728440258
379 cost: 18.8722864924
380 cost: 18.8717360995
381 cost: 18.8711927487
382 cost: 18.870656343
383 cost: 18.8701267868
384 cost: 18.869603986
385 cost: 18.8690878476
386 cost: 18.86857828
387 cost: 18.8680751929
388 cost: 18.8675784974
389 cost: 18.8670881056
390 cost: 18.866603931
391 cost: 18.8661258884
392 cost: 18.8656538936
393 cost: 18.8651878638
394 cost: 18.8647277172
395 cost: 18.8642733733
396 cost: 18.8638247526
397 cost: 18.8633817768
398 cost: 18.8629443687
399 cost: 18.8625124522
400 cost: 18.8620859523
401 cost: 18.8616647949
402 cost: 18.8612489071
403 cost: 18.860838217
404 cost: 18.8604326538
405 cost: 18.8600321475
406 cost: 18.8596366292
407 cost: 18.8592460309
408 cost: 18.8588602858
409 cost: 18.8584793277
410 cost: 18.8581030915
411 cost: 18.8577315131
412 cost: 18.8573645292
413 cost: 18.8570020773
414 cost: 18.856644096
415 cost: 18.8562905246
416 cost: 18.8559413034
417 cost: 18.8555963733
418 cost: 18.8552556762
419 cost: 18.8549191548
420 cost: 18.8545867527
421 cost: 18.8542584141
422 cost: 18.8539340841
423 cost: 18.8536137085
424 cost: 18.853297234
425 cost: 18.8529846079
426 cost: 18.8526757783
427 cost: 18.852370694
428 cost: 18.8520693046
429 cost: 18.8517715603
430 cost: 18.8514774121
431 cost: 18.8511868116
432 cost: 18.8508997112
433 cost: 18.8506160638
434 cost: 18.850335823
435 cost: 18.8500589432
436 cost: 18.8497853793
437 cost: 18.8495150869
438 cost: 18.8492480221
439 cost: 18.8489841418
440 cost: 18.8487234033
441 cost: 18.8484657647
442 cost: 18.8482111846
443 cost: 18.8479596221
444 cost: 18.8477110369
445 cost: 18.8474653894
446 cost: 18.8472226405
447 cost: 18.8469827514
448 cost: 18.8467456843
449 cost: 18.8465114015
450 cost: 18.846279866
451 cost: 18.8460510415
452 cost: 18.8458248918
453 cost: 18.8456013816
454 cost: 18.8453804757
455 cost: 18.8451621399
456 cost: 18.84494634
457 cost: 18.8447330425
458 cost: 18.8445222144
459 cost: 18.844313823
460 cost: 18.8441078361
461 cost: 18.8439042222
462 cost: 18.8437029498
463 cost: 18.8435039883
464 cost: 18.8433073071
465 cost: 18.8431128763
466 cost: 18.8429206664
467 cost: 18.8427306482
468 cost: 18.8425427929
469 cost: 18.8423570721
470 cost: 18.8421734581
471 cost: 18.8419919231
472 cost: 18.84181244
473 cost: 18.841634982
474 cost: 18.8414595226
475 cost: 18.8412860358
476 cost: 18.8411144959
477 cost: 18.8409448775
478 cost: 18.8407771557
479 cost: 18.8406113057
480 cost: 18.8404473033
481 cost: 18.8402851244
482 cost: 18.8401247455
483 cost: 18.8399661432
484 cost: 18.8398092945
485 cost: 18.8396541767
486 cost: 18.8395007675
487 cost: 18.8393490448
488 cost: 18.8391989869
489 cost: 18.8390505723
490 cost: 18.8389037798
491 cost: 18.8387585886
492 cost: 18.8386149781
493 cost: 18.8384729281
494 cost: 18.8383324184
495 cost: 18.8381934294
496 cost: 18.8380559415
497 cost: 18.8379199356
498 cost: 18.8377853928
499 cost: 18.8376522943
[ -2.12105004e+01  -5.04958617e+00   4.39532466e-01  -1.66425560e+00
   7.47773393e+00   1.45367774e+00   1.29372809e-01  -1.11871039e-01
   4.54431293e+02]
(2392,)